<tr>
<td> {{element.id}}</td>
<td> <img src="{{element.picture}}" height=220 width=220></td>
<td> <b>{{element.username|upper}}</b></td>
<td> {{element.email}}</td>
<td> {{element.nb_books}}</td>
</tr>